.case-container {
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
}

.case-cover-image {
   width: 100%;
   margin: 0 auto;
}

.case-content {
   max-width: 100%;
   margin: 32px 0 16px;
   padding: 0 24px;

   display: grid;
   grid-template: auto / 1fr;
}

.case-content * {
   max-width: 100%;
   grid-column: 1 / 2;
}

@media screen and (min-width: 768px) {
   .case-content {
      max-width: 648px;
      margin: 40px auto 24px;
      padding: 0;
   }
}

@media screen and (min-width: 1024px) {
   .case-cover-image {
      width: 75%;
      max-width: 720px;
      margin: 48px auto 0;
   }

   .case-content {
      max-width: 720px;
      margin: 48px auto 32px;
   }
}

@media screen and (min-width: 1440px) {
   .case-cover-image {
      width: 75%;
      max-width: 960px;
      margin: 56px auto 0;
   }

   .case-content {
      max-width: 800px;
      margin: 48px auto 32px;
   }
}
