/*=======================================================
          Kyle Ancheta Portfolio Site - Layout
=======================================================*/

.container {
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
}

/*===============================================
                Main Content Layout
===============================================*/

main {
   margin-top: 36px;
   max-width: 100%;
   width: calc(100% - 48px);
   padding: 0 24px 0;
   z-index: -1;

   display: grid;
   grid-gap: 8px;
   grid-template: auto / 1fr;
}

/* .content h1 {
   grid-column: 1 / 7;
   place-self: center start;
}

.content h2 {
   grid-column: 1 / 7;
   place-self: center start;
}

.content ul {
   grid-column: 1 / 7;
   place-self: center start;
}

.content p {
   grid-column: 1 / 7;
   place-self: end start;
   margin-top: 32px;
   margin-bottom: 4px;
} */

@media screen and (min-width: 568px) {
   main {
      margin-top: 48px;
      width: calc(100% - 80px);
      padding: 0 48px 0;
   }
}

/*===============================================
                  Big Tablet View
===============================================*/

@media screen and (min-width: 768px) {
   main {
      margin-top: 48px;
      width: calc(100% - 80px);
      padding: 0 96px 0;
   }
}

/*===============================================
                  Tablet View
===============================================*/

@media screen and (min-width: 1024px) {
   main {
      margin-top: 56px;
      width: calc(100% - 288px);
      padding: 0 160px 0;

      grid-gap: 16px;
   }

   /* .content h1 {
      grid-column: 2 / 8;
   }

   .content h2 {
      grid-column: 2 / 8;
   }

   .content ul {
      grid-column: 2 / 8;
   }

   .content p {
      grid-column: 2 / 8;
      margin-top: 48px;
   } */
}


/*===============================================
                  Desktop View
===============================================*/

@media screen and (min-width: 1440px) {
   main {
      margin-top: 72px;
      width: calc(100% - 640px);
      padding: 0 320px 0;
      z-index: -1;

      display: grid;
      grid-gap: 12px;
   }

   /* .content h1 {
      grid-column: 3 / 11;
   }

   .content h2 {
      grid-column: 3 / 11;
   }

   .content ul {
      grid-column: 3 / 11;
   }

   .content p {
      grid-column: 3 / 11;
      margin-top: 64px;
      margin-bottom: 8px;
   } */
}
